:root{
    --text: #fafafa;
    --background: #101010;
    --primary: #ffa704;
    --secondary: #222120;
    --accent: #41d2d2;
}

html{
    min-height: 100%;
    min-width:100%;
}

body{
    background: rgb(34,33,32);
    background: radial-gradient(circle, rgba(34,33,32,1) 0%, rgba(16,16,16,1) 72%);
    font-family: 'Monserat', sans-serif;
    color: var(--text);
}

.nav-item{
    text-align: center;
}

input{
    background-color: var(--background) !important;
    color: var(--text) !important;
}

button{
    background-color: var(--primary) !important;
    color: var(--text) !important;
    border-color: var(--secondary) !important;
    font-weight: bold !important;
}

a{
    color: var(--accent)
}

#login_rect{
    width: 300px;
    border-radius: 10px;
    border-color: var(--background) !important;
    background-color: var(--secondary);
}

h1{
    font-weight: bold;
}

.navbar-brand{
    font-weight: bold;
}

.navbar{
    background-color: var(--background);
}


.btn-grad {
    background-image: linear-gradient(to right, #ffa704 0%, #ffa704  40%, #41d2d2  100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .custom-select-with-image {
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 30px; /* Adjust this value to align the image properly */
  }

  .custom-select-with-image option {
    padding-right: 25px; /* Adjust this value to give enough space for the image */
    background-size: 20px; /* Adjust this value to control the size of the image */
  }

  .flag-icon {
    width: 28px;
    height: 21px;
    margin: 3px;
}

.dropdown-menu{
    background-color: var(--background) !important;
}
.dropdown-item{
    color: var(--text) !important;
}

