{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container-fluid border" id="login_rect">
        <h1 class="mb-3 mt-3">Currency</h1>
        <h3 class="mb-3 text-center">
            Main Features
        </h3>
        <p class="md-3">Currency exchange and compare with your local exchange rate.</p>
        <p class="md-3">List of all supported currencies.</p>
        <p class="md-3">All exchange rates for your selected currency.</p>

    </div>
{% endblock %}
