<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
        <link href="/static/icon.svg" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <script src="/static/script.js"></script>
        <title>$ - {% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/static/icon.svg" alt="icon" height="30" width="50">Currency</a>
                    {% if session["user_id"] %}
                    <div class="conteiner-fluid d-flex justify-content-center" id="base">
                        <div class="dropdown">
                            <button class="btn btn-grad dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{session['base_flag']}}" class="flag-icon">{{session['base']}}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="optionsList1">
                                <li><input type="text" class="form-control" placeholder="Search" aria-label="search" id="dropDownSearch1"></li>
                                {% for item in flags %}
                                <li class="d-flex flex-row lign-items-center">
                                    <img src={{item.flag}} class="flag-icon">
                                    <a class="dropdown-item ps-0" href="#">{{item.symbol}}</a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler btn-grad" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link" href="/exchange">Exchange</a></li>
                            <li class="nav-item"><a class="nav-link" href="/list">List</a></li>
                            <li class="nav-item"><a class="nav-link" href="/rates">Rates</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link" href="/change">Change Password</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>

                    {% else %}
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>



        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>


        <footer class="small text-center text-muted position-relative">
            <p class="mb-2">Data provided by <a href="https://exchangerate.host/#/">exchangerate</a></p>
            <p class="mb-2"> Flags provided by <a href="https://flagpedia.net/">flagpedia</a></p>
            <p class="mb-2"> © 2023 Duica Sebastian, All rights reserved</p>
        </footer>



    </body>

</html>
