{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="container-fluid border" id="login_rect">
        <h1 class="mb-3 mt-3">Log In</h1>
        <div class="mb-3 small text-center">
            Please enter your details.
        </div>
        <form action="/login" method="post">
            <div class="mb-3">
                <input class="form-control form-control-lg mx-auto w-280"  autocomplete="off" required autofocus id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="input-group mb-3">
                <input class="form-control form-control-lg mx-auto w-280" required id="password" name="password" placeholder="Password" type="password">
                <button class="btn btn-outline-secondary btn-grad" type="button" id="show1">
                    <i class="bi bi-eye-fill" id="show_icon1"></i>
                </button>
            </div>
            <div class="d-grid">
                <button class="btn btn-grad" type="submit">Log In</button>
            </div>
        </form>
        <div class="mb-3 mt-3 small text-center">
            Don't have an account? <a href="/register">Sign Up</a>.
        </div>
    </div>
{% endblock %}
